

<div class="container mt-5 vh-100">

    <form class="d-flex" role="search">
      <h4 class="text-muted text-nowrap my-auto">Lista de Materiales del Producto</h4>
      <div class="ms-5 form-check">
        <label class="form-check-label" for="flexCheckDefault">
          Filtro por Area
        </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="areaFilter" id="flexCheckDefault" name="areaFilter">
      </div>
        <input class="form-control ms-2 me-2 float-end" type="search" name="query" placeholder="Buscar por Nombre o Area" [(ngModel)]="q" aria-label="Search">
      <button class="btn btn-outline-success float-end" (click)="filter()" type="submit">Buscar</button>
    </form>
    <hr>
    
    <div class="list row shadow-sm">
      <div class="col-md-6">
        <app-pagination [path]="'/materials'" [query]="queryChange"  (selectedElement)="getSelectedElement($event)"></app-pagination>    
      </div>
      
      <div class="col-md-6">
      <div *ngIf="product" class="edit-form">
        <h4>Producto</h4>
        <h3 class="text-muted">{{product.name}} - {{product.code}}</h3>
        
        <p>Materiales del Producto: </p>

        <ul class="list-group mt-3 mb-3">
          <li class="list-group-item" *ngFor="let mat of productMaterials; let j = index">

            <div class="d-flex flex-row justify-content-between">
              
              <span class="my-auto mx-1">
                {{mat.name}}
              </span>
              
              <div class="input-group mx-1">
                  <input type="number" placeholder="Unidades por Producto" name="UP" [(ngModel)]="mat.quantity" class="form-control input-sm" aria-label="quantity">
                  <span class="input-group-text">U</span>
              </div>
          
              <button class="btn-close my-auto btn-sm rounded-pill float-end" (click)="removeMaterialToProduct(j)"></button>
            </div>
          </li>
        </ul>

          <button type="submit" class="btn btn-success mb-2 rounded-pill" (click)="editMaterials()">
            Agregar Matriales
          </button>
        </div>
        
        <div *ngIf="!product">
          <br />
          <p>No fue posible acceder a este producto...</p>
        </div>

        <!-- ----------------------------------------------------------- -->
      
      <div *ngIf="!product">
        <br />
        <p>Seleccione un producto...</p>
      </div>
    </div>
    </div>
  </div>