

<div class="container mt-5 vh-100">

    <form class="d-flex" role="search">
      <h4 class="text-muted text-nowrap">Lista de Materiales del Producto</h4>
      <div class="ms-5 form-check">
        <label class="form-check-label" for="flexCheckDefault">
          Filtro por Area
        </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="areaFilter" id="flexCheckDefault" name="areaFilter">
      </div>
        <input class="form-control ms-2 me-2 float-end" type="search" name="query" placeholder="Buscar por Nombre o Area" [(ngModel)]="query" aria-label="Search">
      <button class="btn btn-outline-success float-end" (click)="filterMaterials()" type="submit">Buscar</button>
    </form>
    <hr>
    
    <div class="list row shadow-sm">
      <div class="col-md-6">
        <ul class="list-group mt-3 mb-3">
          <li
          class="list-group-item"
          *ngFor="let material of Materials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMaterial(material, i)"
          >
          {{ material.name }}

          <button class="btn btn-success btn-sm rounded-pill float-end" (click)="addMaterialToProduct(material)">
            <span>
              <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 533.973 533.973" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M477.931,52.261c-12.821-12.821-33.605-12.821-46.427,0l-266.96,266.954l-62.075-62.069 c-12.821-12.821-33.604-12.821-46.426,0L9.616,303.572c-12.821,12.821-12.821,33.604,0,46.426l85.289,85.289l46.426,46.426 c12.821,12.821,33.611,12.821,46.426,0l46.426-46.426l290.173-290.174c12.821-12.821,12.821-33.605,0-46.426L477.931,52.261z"></path> </g> </g> </g>
              </svg>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-6">

      <div *ngIf="product" class="edit-form">
        <h4>Producto</h4>
        <h3 class="text-muted">{{product.name}} - {{product.code}}</h3>
        
        <p>Materiales del Producto: </p>

        <ul class="list-group mt-3 mb-3">
          <li class="list-group-item" *ngFor="let mat of productMaterials; let j = index">
            <div class="d-flex flex-row justify-content-between">
              <div class="my-auto">
                {{mat.name}}
              </div>
              
              <div class="input-group mx-auto h-25 w-50">
                <input type="number" placeholder="Unidades por Producto" name="UP" [(ngModel)]="mat.quantity" class="form-control input-sm" aria-label="quantity">
                <span class="input-group-text">U</span>
              </div>
              
              <button class="btn-close my-auto btn-sm rounded-pill float-end" (click)="removeMaterialToProduct(j)"></button>
            </div>
          </li>
        </ul>

          <button type="submit" class="btn btn-success mb-2 rounded-pill" (click)="editMaterials()">
            Agregar Matriales
          </button>
        </div>
        
        <div *ngIf="!product">
          <br />
          <p>No fue posible acceder a este producto...</p>
        </div>

        <!-- ----------------------------------------------------------- -->
      
      <div *ngIf="!product">
        <br />
        <p>Seleccione un producto...</p>
      </div>
    </div>
    </div>

    <nav aria-label="Page navigation" class="mt-3">
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" aria-label="Previous" (click)="nextPage(false)">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>

        <li class="page-item"> <span class="page-link text-black"> Anterior/Siguiente Registro</span></li>
        <li class="page-item">
          <button class="page-link" aria-label="Next" (click)="nextPage(true)">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>