<div *ngIf="currentProduct" class="edit-form">
<h4>Producto</h4>
    
    <app-form [formObj]="formObj" [mode]="true" [placeHolder]="currentProduct" (formModel)="submit($event)" (reject)="onReject()" btnMes="Editar Material" modalMessage="¿Seguro que desea editar el producto?"></app-form>

<button class="btn btn-danger rounded-pill" disabled (click)="deleteProduct()">
    Eliminar
  </button>

  <button type="submit" class="btn btn-success rounded-pill mx-2" disabled (click)="updateProduct()">
    Editar
  </button>

  <button  class="btn btn-secondary rounded-pill" (click)="updateProduct()" routerLink="material" [state]="currentProduct">
    Materiales
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentProduct">
  <br />
  <p>No fue posible acceder a este producto...</p>
</div>