

<div class="container mt-5 vh-100">

    <form class="d-flex" role="search">
      <h4 class="text-muted text-nowrap">Lista de Productos</h4>
      <div class="ms-5 form-check">
        <label class="form-check-label" for="flexCheckDefault">
          Filtro por Codigo
        </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="codeFilter" id="flexCheckDefault" name="codeFilter">
      </div>
        <input id="query" class="form-control ms-2 me-2 float-end" type="search" oninput="this.value = this.value.toLowerCase()" [(ngModel)]="query" name="query" placeholder="Buscar por Nombre o Codigo" aria-label="Search">
      <button class="btn btn-outline-success float-end" (click)="filter()" type="submit">Buscar</button>
    </form>
    <hr>
  
      <div style="margin: 6rem; z-index: 1070;" class="position-fixed bottom-0 end-0">
          <button *ngIf="userRole" class="btn btn-success btn-lg rounded-pill" routerLink="add">
            <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="4vh" height="4vh" viewBox="0 0 47 47" xml:space="preserve" stroke="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"></path> </g> </g>
            </svg>
          </button>
      </div>
      
    
    <div class="list row shadow-sm">
      <div class="col-md-6">
        <app-pagination [path]="'/products'" [query]="q"  (selectedElement)="getSelectedElement($event)"></app-pagination>
      </div>
    <div class="col-md-6">
      <div *ngIf="currentProduct">
        <app-product-details
        (refreshList)="refreshList()"
        [product]="currentProduct"
        ></app-product-details>
      </div>
      
      <div *ngIf="!currentProduct">
        <br />
        <p>Seleccione un producto...</p>
      </div>
    </div>
    </div>
  </div>