

<div class="container mt-5 vh-100">

    <form class="d-flex" role="search">
      <h4 class="text-muted text-nowrap">Lista de Ordenes</h4>
      <div class="ms-5 form-check">
        
        <label class="form-check-label" for="flexCheckDefault">
          Filtrar por Estado
        </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="codeFilter" id="flexCheckDefault" name="codeFilter">
      </div>

        <input *ngIf="!codeFilter" id="query" class="form-control mx-2 float-end" type="search" [(ngModel)]="q" name="query" placeholder="Buscar por Nombre o Codigo" aria-label="Search">


        <select *ngIf="codeFilter" class="form-select mx-2" aria-label="Default select example">
          <option selected value="1">ESPRANDO MATERIAL</option>
          <option value="2">INACTIVA</option>
          <option value="3">ACTIVA</option>
          <option value="4">TERMINADA</option>
        </select>
      
        <button class="btn btn-outline-success float-end" (click)="filter()" type="submit">Buscar</button>
    </form>
    <hr>
  
      <div style="margin: 6rem; z-index: 1070;" class="position-fixed bottom-0 end-0">
          <button class="btn btn-success btn-lg rounded-pill" routerLink="add">
            <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="4vh" height="4vh" viewBox="0 0 47 47" xml:space="preserve" stroke="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"></path> </g> </g>
            </svg>
          </button>
      </div>
      
    
    <div class="list row shadow-sm">
      <div class="col-md-6">
        <app-pagination [path]="'/orders'" [query]="queryChange"  (selectedElement)="getSelectedElement($event)"></app-pagination>  
     </div>
    <div class="col-lg-6">
      <!-- <div *ngIf="currentOrder">
        <app-order-details
        (refreshList)="refreshList()"
        [product]="currentOrder"
        ></app-order-details>
      </div> -->
      
      <div *ngIf="!currentOrder">
        <br />
        <p>Seleccione una orden...</p>
      </div>

      <div *ngIf="currentOrder" class="edit-form">
        <h4>Orden</h4>
    
        <app-form [mode]="true" [formObj]="formObj" [placeHolder]="currentOrder" (formModel)="submit($event)" btnMes="Crear Orden" modalMessage="¿Desea continuar con la creacion de la Orden?"></app-form>

        <!-- <div class="form-floating mb-2">
          <input
          class="form-control"
          id="name"
          required
          placeholder="name"
          [(ngModel)]="currentOrder.name"
          name="name"
          readonly
          type="text"
          />
          <label for="name">Numero de Orden de Pedido</label>
        </div> -->

<!--         
        <div class="form-floating input-group mb-2">
          <input
          class="form-control"
            id="clientName"
            required
            placeholder="description"
            [(ngModel)]="currentOrder.clientName"
            name="clientName"
            type="text"
            readonly
            />
            <span class="input-group-text" >
                <a routerLink="/clients" [state]="{id: currentOrder.clientId}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
              </a>
            </span>
            <label for="clientName">Nombre del Cliente</label>
          </div> -->

           
        <!-- <div class="submit-form"> -->

          <!-- <div class="input-group mb-2">
            <div class="form-floating">
              <input id="shipDate" class="form-control" name="shipDate" readonly required type="date" [(ngModel)]="currentOrder.shipDate"/>
              <label for="shipDate">Fecha de Embarque</label>
            </div>

            <div class="form-floating input-group-append">
              <input id="state" class="form-control" name="state" readonly required type="text" [(ngModel)]="currentOrder.state"/>
              <label for="state">Estado</label>
            </div>
          </div> -->
      
      <!-- <div class="input-group ">
        <div class="form-floating input-group mb-2">
          <input
          class="form-control"
          id="productionDays"
          required
          placeholder="description"
          [(ngModel)]="currentOrder.productionDays"
          name="productionDays"
          type="number"
          readonly
          />
          <span class="input-group-text">dias</span>
          <label for="productionDays">Dias de Produccion</label>
        </div> -->
          
        <!-- <div class="form-floating input-group mb-2">
            <input
            class="form-control"
            id="orderInput"
            required
            placeholder="Precio"
            [(ngModel)]="currentOrder.orderInput"
            name="orderInput"
            type="number"
            readonly
            />
            <span class="input-group-text">días</span>
            <label for="orderInput">Pedido de Insumos</label>
          </div>
        </div> -->
          
          <!-- <div class="input-group">
            <div class="form-floating mb-3">
              <input id="rmOrderDeadline" class="form-control" name="rmOrderDeadline" required type="date" readonly [(ngModel)]="currentOrder.rmOrderDeadline"/>
              <label for="rmOrderDeadline">Pedido Materia Prima</label>
            </div>
            
            <div class="form-floating input-group mb-3">
              <input id="startProductionDeadline" class="form-control" name="startProductionDeadline" readonly required type="date" [(ngModel)]="currentOrder.startProductionDeadline"/>
              <label for="startProductionDeadline">Limite inicio de Produccion</label>
            </div>
          </div> -->
          
          <!-- <div class="form-floating mb-3">
            <input
            class="form-control"
            id="notes"
            required
            placeholder="notes"
            [(ngModel)]="currentOrder.notes"
            name="notes"
            type="text"
            readonly
            />
            <label for="notes">notas</label>
          </div> -->
          
        <!-- </div> -->

        <p>productos de la Orden: </p>

        <ul class="list-group mt-1 mb-3">
          <li class="list-group-item" *ngFor="let product of currentOrder.orderProducts; let j = index">
            <div class="d-flex flex-row mx-auto">
              <div class="my-auto text-nowrap">
                {{product.name}}
              </div>
              
              <div class="input-group h-25 my-auto ms-2 ">
                  <input type="number" placeholder="Unidades" readonly name="UP" [(ngModel)]="product.quantity" class="form-control input-sm" readonly aria-label="quantity">
                  <span class="input-group-text">U</span>
                  <!-- <input type="number" class="input-group-append" placeholder="Uso de PT" name="stock" [(ngModel)]="product.stock" class="form-control input-sm" readonly aria-label="stock">
                  <span class="input-group-text">U</span> -->
                  <!-- <div class="form-check input-group-append mx-2 my-auto">
                    <label class="form-check-label" for="flexCheckDefault"> Uso PT</label>
                    <input class="form-check-input" readonly type="checkbox"  [(ngModel)]="codeFilter" id="flexCheckDefault" name="codeFilter">
                  </div> -->
              </div>              
            </div>
          </li>
        </ul>

        <button (click)="setOrderReady()" class="btn btn-outline-success mx-auto mb-3">Orden Lista</button>
        <button (click)="completeOrder()" class="btn btn-outline-primary ms-2 mb-3">Completar Orden</button>

      </div>
    </div>
    </div>
  </div>