

<div  class="container mt-5 vh-100">
    <h3 class="text-muted text-nowrap my-auto">Registrar orden</h3>
    
    <hr>
    
    <div class="list row shadow-sm">
      <div class="col-md-6">
        <h5 class="text-muted mt-1">Lista de Materiales:</h5>
        <ul class="list-group mt-3 mb-3">
          <li class="list-group-item" *ngFor="let mat of reqMaterials; let i = index" [class.active]="i == currentIndex" (click)="setActiveMaterial(mat, i)">

            <span>
              {{ mat.name }}
            </span>
          </li>
        </ul>
      </div>

      <div class="col-md-6">

        <h4>Seleccione un Proovedor</h4>
  
        
        <div *ngIf="providers.length" class="form-floating">

          <select class="form-select" [(ngModel)]="currentProvider"  id="floatingSelect" aria-label="providers select">
            <option [ngValue]="undefined" disabled>Seleccione Provedor</option>
            <option *ngFor="let prov of providers" [ngValue]="prov">{{prov.name}}</option>
          </select>
          <label for="floatingSelect">Provedores</label>
        </div>

        <button *ngIf="reqMaterials" class="btn-outline-primary btn rounded-pill" (click)="assignProvider()"> Asignar Provedores</button> 
        <app-warn-modal type="submit" (continue)="submit($event)" [btnMessage]="'Continuar'" modalMessage="¿Seguro que desea continuar crear una nueva orden?"></app-warn-modal>
  
        
      <div *ngIf="!materials">
        <br />
        <p>No se selecciono ningun producto...</p>
      </div>
    </div>
</div>