<ul *ngIf="!mode" class="list-group overflow-auto mt-3 mb-1" style="max-height:70vh;">
    <li class="list-group-item" *ngFor="let element of fetchedData$ | async; let i = index" [class.active]="i == currentIndex" (click)="setActiveProduct(element, i)">
      <span *ngIf="isFetched" class="d-flex">
        <div *ngFor="let param of showParams">
          <div class="ms-2" *ngIf="param=='orderDeadline'">
             {{   element[param].toDate().toLocaleDateString('es-MX', dateOptions) }}            
          </div>
          <div *ngIf="param!='orderDeadline'">
            {{ element[param] }}
          </div>
        </div>
      </span>
    </li>
    <li *ngIf="!isFetched">
      <span>No se encontraron resultados...</span>
    </li>
</ul>