<div *ngIf="material" class="edit-form">
    <h4>Material</h4>
    <form>
      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="name"
          [(ngModel)]="currentMaterial.name"
          name="name"
        />
        <label for="name">Nombre</label>
      </div>
  

      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="description"
          [(ngModel)]="currentMaterial.description"
          name="description"
        />
        <label for="description">Descripcion</label>
      </div>


    </form>
  
    <button class="btn btn-danger rounded-pill mx-1 mt-2" (click)="deleteMaterial()">
      Eliminar
    </button>

    <button class="btn btn-secondary rounded-pill mx-1 mt-2" routerLink="provider" [state]="{id: currentMaterial.id}">
      Añadir Provedor
    </button>
  
    <button type="submit" class="btn btn-success rounded-pill mt-2" (click)="updateMaterial()">
      Editar
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!material">
    <br />
    <p>No fue posible acceder a este material...</p>
  </div>