<div *ngIf="material" class="edit-form">
    <h4>Material</h4>
 
    <app-form [formObj]="formObj"  (formModel)="submit($event)" (reject)="deleteMaterial()" [placeHolder]="currentMaterial" btnMes="Crear Material" modalMessage="¿Desea continuar con la creacion del material?"></app-form>

    <!-- <button class="btn btn-danger rounded-pill mx-1 mt-2" (click)="deleteMaterial()">
      Eliminar
    </button> -->

    <button class="btn btn-secondary rounded-pill mx-1 mt-2" routerLink="provider" [state]="{id: currentMaterial.id}">
      Añadir Provedor
    </button>
  
    <!-- <button type="submit" class="btn btn-success rounded-pill mt-2" (click)="updateMaterial()">
      Editar
    </button> -->
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!material">
    <br />
    <p>No fue posible acceder a este material...</p>
  </div>