

<div class="container mt-5 vh-100">

    <form class="d-flex" role="search">
      <h4 class="text-muted text-nowrap my-auto">Historial Inventario</h4>

      <!-- <div class="row mx-auto w-100"> -->
          <!-- <div class="col-sm-6">
              <label for="startDate" class="ms-1">Inicio</label>
              <input id="startDate" class="form-control" name="sDate" type="date" [(ngModel)]="sDate"/>
          </div>
          <div class="col-sm-6">
              <label for="endDate" class="ms-1">Fin</label>
              <input id="endDate" class="form-control" name="nDate" type="date" [(ngModel)]="nDate"/>
          </div> -->

          
        <!-- </div> -->
 
        <input *ngIf="reportPath != '/audit'" class="form-control ms-2 me-2 float-end" [(ngModel)]="query" type="search" name="query" placeholder="Buscar por Nombre" aria-label="Search">
        
      <div class="input-group ms-2">

        <div *ngIf="reportPath == '/audit'" class="form-floating w-50">
          <select class="form-select" [(ngModel)]="query" name="Inventory" id="floatingSelect" aria-label="providers select">
            <option [ngValue]="undefined">Todos</option>
            <option [ngValue]="'InvRawMaterial'">Materiales</option>
            <option [ngValue]="'invFinishedProduct'">Productos</option>
            <option [ngValue]="'Orders'">Ordenes</option>
          </select>
          <label for="floatingSelect">Inventario</label>
        </div>
        <div class="form-floating w-50">
          <select class="form-select" [(ngModel)]="reportPath" (change)="rootChanged($event)" name="Inventory" id="floatingSelect" aria-label="providers select">
            <option [ngValue]="undefined" disabled>Seleccione Inventario</option>
            <option [ngValue]="'/FPreport'">Inventario Productos</option>
            <option [ngValue]="'/RMreport'">Inventario Materiales</option>
            <option [ngValue]="'/audit'">Movimientos</option>
          </select>
          <label for="floatingSelect">Inventario</label>
        </div>
      </div> 
      <button class="btn btn-outline-success float-end ms-2" (click)="filter()" type="submit">Buscar</button>
      
      <app-warn-modal type="button" [classlist]="['btn-outline-danger', 'float-end', 'btn-sm']" (continue)="deleteAudit($event)" btnMessage="Eliminar Audiciones" modalMessage="Esta seguro de que desea descargar todas las ordenes terminadas?"></app-warn-modal>

      <!-- <button class="ms-2 btn btn-outline-danger float-end" (click)="deleteAudit()" type="button">Eliminar Audiciones</button> -->

    </form>
    <hr>

    <app-pagination [path]="reportPath" [mode]="true" [query]="queryChange" (fetchedArray)="fetchedArray($event)"></app-pagination>  
    

    <table *ngIf="reportPath != '/audit'" class="table">
      <thead>
        <tr>
          <th scope="col">{{reportPath == '/FPreport' ? 'Producto' : 'Material'}}</th>
          <th scope="col">Disponible</th>
          <th scope="col">Comprometido</th>
          <th *ngIf="reportPath == '/RMreport'" scope="col">En espera Comprometido</th>
          <th scope="col">En espera</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let report of reports; let i = index">
            <th scope="row">{{ report.name }}</th>
            <td>{{ report.available }} </td>
            <td>{{ report.commited }}</td>
            <td *ngIf="reportPath == '/RMreport'">{{ report.watingCommited }}</td>
            <td> {{ report.wating}}</td>
            <td> {{ invTotal(report) }}</td>
          </tr>
      </tbody>
    </table>

    
    <table *ngIf="reportPath == '/audit'" class="table">
      <thead>
        <tr>
          <th scope="col">Operacion</th>
          <th scope="col">Proceso</th>
          <th scope="col">Autoriza</th>
          <th scope="col">Estado Previo</th>
          <th scope="col">Estado Posterior</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let report of reports; let i = index">
            <th scope="row">{{ report.name }}</th>
            <td>{{ report.process }} </td>
            <td>{{ report.user }}</td>
            <td>{{ report.prior }}</td>
            <td>{{ report.posterior }}</td>
          </tr>
      </tbody>
    </table>

  
